@model sqlChartsDemo.Models.CartActivityModel;
<div class="text-center">
    <h1 class="display-4">Boscovs Data Center</h1>
</div>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col">
                @{ @await Html.PartialAsync("~/Views/Home/PartialViews/_FactSquaresPartial.cshtml") ; }
            </div>
        </div>
        <div class="col">
            @{ @await Html.PartialAsync("~/Views/Home/PartialViews/_CartActivities.cshtml", Model) ; }
        </div>
    </div>

   
</div>
 

