@model sqlChartsDemo.Models.CartActivityModel;
<div class="text-center">
    <h1 class="display-4" style="color: black">Boscovs Data Center</h1>
</div>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col">
                @{ @await Html.PartialAsync("~/Views/Home/PartialViews/_FactSquaresPartial.cshtml") ; }
            </div>
        </div>
        <div class="col" style="padding: 20px;">
            @{ @await Html.PartialAsync("~/Views/Home/PartialViews/_CartActivities.cshtml", Model) ; }
        </div>
        <div class="col" style="padding: 20px;">
            @{ @await Html.PartialAsync("~/Views/Home/PartialViews/_salesBarChart.cshtml", Model) ; }
        </div>
        <div class="row" style="justify-content: center">
            @{ @await Html.PartialAsync("~/Views/Home/PartialViews/_CircleChartsPartial.cshtml", Model) ; }
        </div>

    </div>

   
</div>
 

