<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Data View
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/Charts/InternetSales/@Model.FileName">Tables</a></li>
        <li><a class="dropdown-item" href="/Charts/InternetSalesBarGraph/@Model.FileName">Charts</a></li>

    </ul>
</div>