@page
@{
    dynamic listOfFiles = ViewBag.files;
}

<html>
<body>
    <div class="text-center" style="padding: 40px;">
        <h1 class="display-4">
            Pick A Chart
        </h1>
    
    </div>

    <ul class="list-group">
        @{
            foreach (var file in listOfFiles)
            {
                try
                {
                    var fileName = System.IO.Path.GetFileName(file);

                    <a href="/Charts/InternetSales/@fileName">
                    <li class="list-group-item list-group-item-action">@fileName</li></a>
                }

                catch(Exception ex)
    {
                    <li>Error Retriving Files: @ex.ToString();</li>
    }
            }
        }
    </ul>

</body>
</html>

