@{
    Layout = null;
}
<link href="@Url.Content("~/css/homeBarChart.css")" rel="stylesheet" type="text/css" />

<div class="db__cell">
    <h2 class="db__subheading">Sales in Last 7 Days</h2>
    <div class="db__bars">
        <div class="db__bars-cell">
            <div class="db__bars-cell-bar" title="$4,610,555.90">
                <div class="db__bars-cell-bar-fill" style="transform:translateY(-92.2%)"></div>
            </div>
        </div>
        <div class="db__bars-cell">
            <div class="db__bars-cell-bar" title="$3,612,857.76">
                <div class="db__bars-cell-bar-fill" style="transform:translateY(-72.3%)"></div>
            </div>
        </div>
        <div class="db__bars-cell">
            <div class="db__bars-cell-bar" title="$2,137,371.54">
                <div class="db__bars-cell-bar-fill" style="transform:translateY(-42.7%)"></div>
            </div>
        </div>
        <div class="db__bars-cell">
            <div class="db__bars-cell-bar" title="$4,856,109.94">
                <div class="db__bars-cell-bar-fill" style="transform:translateY(-97.1%)"></div>
            </div>
        </div>
        <div class="db__bars-cell">
            <div class="db__bars-cell-bar" title="$3,662,766.81">
                <div class="db__bars-cell-bar-fill" style="transform:translateY(-73.3%)"></div>
            </div>
        </div>
        <div class="db__bars-cell">
            <div class="db__bars-cell-bar" title="$2,895,150.25">
                <div class="db__bars-cell-bar-fill" style="transform:translateY(-57.9%)"></div>
            </div>
        </div>
        <div class="db__bars-cell">
            <div class="db__bars-cell-bar" title="$3,330,050.90">
                <div class="db__bars-cell-bar-fill" style="transform:translateY(-66.6%)"></div>
            </div>
        </div>
        <div class="db__bars-cell">$5M</div>
        <div class="db__bars-cell">$4M</div>
        <div class="db__bars-cell">$3M</div>
        <div class="db__bars-cell">$2M</div>
        <div class="db__bars-cell">$1M</div>
        <div class="db__bars-cell"></div>
        <div class="db__bars-cell">
            <time datetime="2022-05-01">5/1</time>
        </div>
        <div class="db__bars-cell">
            <time datetime="2022-05-02">5/2</time>
        </div>
        <div class="db__bars-cell">
            <time datetime="2022-05-03">5/3</time>
        </div>
        <div class="db__bars-cell">
            <time datetime="2022-05-04">5/4</time>
        </div>
        <div class="db__bars-cell">
            <time datetime="2022-05-05">5/5</time>
        </div>
        <div class="db__bars-cell">
            <time datetime="2022-05-06">5/6</time>
        </div>
        <div class="db__bars-cell">
            <time datetime="2022-05-07">5/7</time>
        </div>
    </div>
</div>


